/* Fixed footer at the bottom right */
.fixed-footer {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 100;
  border-top-left-radius: 1rem;
  margin: 0.5rem;
}
@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default;
  root: ':root';
  include:;
  exclude:;
  prefix:;
  logs: true;
}
